
// header

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
      max-height: 80px;
      
    }
    
    // .container {
    //   margin-left: auto;
    //   margin-right: auto;
    //   padding-left: 15px;
    //   padding-right: 15px;
    //   width: 1200px; 
    // }
  }
  
  
  .line::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background: $quaternary-color;
    border-radius: 2px
  }
  
  // navigation
  
  .navigation {
    display: flex;
    align-items: center;
    


    &__logo {
      // padding-top: 24px;
      // padding-bottom: 25px;
      padding-top: 16px;
      padding-bottom: 16px;

      font-family: Raleway, sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: $text-primary;

      @media screen and (min-width: 768px) {
        padding: 24px 0;
        
        
      }

    }
     
    
    &__list {
       margin-left: 93px;
       display: flex;
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
      
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) {
        margin-left: 88px;
        
      }
      
      // @media  screen and (min-width: 768px) {
      //  margin-left: 93px;
      //  display: flex;
      //  font-weight: 500;
      //  font-size: 14px;
      //  line-height: 1.14;
      //  letter-spacing: 0.02em;
      // }
      
      
    }

    &__list &__item {
      position: relative;
      margin-right: 50px;
    }
    
    &__list &__item:last-child {
      margin-right: 0px;
    }
    
    &__link {
      display: block;
      padding: 32px 0px;
      color: $text-primary;
      transition: color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__list &__link:hover,
    &__list &__link:focus {
      color: $quaternary-color;
    }
  }
  
  .logo-color {
    color: $quaternary-color;
  }
  
  // contacts 
  
  .contacts {
    display: flex;
   
    &__icon-mail {
      margin-right: 10px;    
      transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
    }

    .contacts__icon-smartphone {
      margin-right: 10px;      
      transition: fill $time-hover cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }

    }
    
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column; 
    }

    &__link:hover &__icon-mail,
    &__link:focus &__icon-mail {
      fill: $quaternary-color;
    }

    &__link:hover &__icon-smartphone,
    &__link:focus &__icon-smartphone {
      fill: $quaternary-color;
    }

    
    & &__item {
      margin-right: 50px;
      @media (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
      }

    }
    
    & &__item:last-child {
       margin-right: 0px;
     }
    
    &__link {
      display: flex;
      align-items: center;
      
      // padding-top: 32px;
      // padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      font-weight: 500;
      color: $text-secondary;
      transition: color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

      @media (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.16;
      }
      
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
     @media screen and (min-width: 768px) {
      margin-left: 84px; 
     }
   
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    
      
    }
    
    
    &__link:hover,
    &__link:focus {
        color: $quaternary-color;
    }
    
    
    & &__link:hover,
    & &__link:focus {
      color: $quaternary-color;
    }
  }

  
  
  