
//footer address

footer {
  padding: 60px 0px;
  background-color: $secondary-color;
}





.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  
  &__map {
    // display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: $primary-color;
    transition: color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  &__map:hover,
  &__map:focus {
    color: $quaternary-color;
  }
  
  &__link {
    
    // display: block;
    display: flex;
    justify-content: center;

    margin-top: 9px;
    text-decoration: none;
    color: rgba(225, 225, 225, 0.6);
    transition: color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      
    }
  }
  
  &__link:hover,
  &__link:focus {
    color: $quaternary-color;
  }
}
  
  // .footer .container {
  //   display: flex; 
  //   align-items: baseline;
  //   justify-content: space-between;
  // }
  
  
  .footer__logo { 
    // display: block;
    display: flex;
    justify-content: center;
    
    margin-bottom: 20px; 
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primary-color;

    @media screen and (min-width: 1200px) {
      
      justify-content: flex-start;
      
    }
  }
  
  
  
//footer social

  .footer-social {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
      margin-top: 0;
      
    }
  }
  
  .footer-social__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-color;

    @media  screen and (min-width: 1200px) {
      justify-content: flex-start;
      
    }
  }
  
  .footer-social__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
  }
  
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-social__link:hover,
  .footer-social__link:focus {
    background-color: $quaternary-color;
  }
  
  .footer-social__icon {
    fill: $primary-color;
  }

  //footer submit

  .footer__submit {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

   @media  screen and (min-width: 1200px) {
     margin-top: 20px;
     
   }
  }
  
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 1200px) { 
      flex-direction: row;
      align-items: baseline;
      
    }
  }
  
  .footer__input {
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    // width: 358px;
    width: 450px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $light-icon-color;

    @media screen and (min-width: 1200px) {
      width: 358px;
      
      
    }
  }
  
  .footer__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $input-color;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    // min-width: 200px;
    width: 200px;
    background-color: $quaternary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 10px 28px;

    margin-top: 20px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-color;
  
    transition: background-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      margin-top: 0;
      
    }
  }
  
  .footer__btn:hover,
  .footer__btn:focus {
    background-color: $footer-btn;
    cursor: pointer;
  }
  
  .footer__submit-icon {
    fill: currentColor;
    margin-left: 10px;
  }