.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $tertiary-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }

    
    
   
    &__heading {
      font-weight: 700;
      font-size: 36px;
      line-height:1.16;
      letter-spacing: 0.03em;
    }
    
    &__list {
      display: flex;
      margin-top:50px;
    }
    
    &__list &__item {
      margin-right: 30px;
      flex-basis: calc(100% / 4);
    }
    
    &__list &__item:last-child {
      margin-right: 0px;
    }
    
    &__heading &__heading-name {
      color: $text-primary;
    }
    
    &__heading-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.03em;
    }
    
    &__title {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.18;
      letter-spacing: 0.03em;
      color: $text-secondary;
    }
    
    &__container {
      padding: 30px 32px;
      text-align: center;
      background-color: $primary-color;
      box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
      border-radius: 0px 0px 4px 4px;
    }
  }
  
  