
// customer

.customer__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-primary;
  }
  
  .customer { 
    display: flex;
    margin-top: 50px;
    
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 92px;
      border: 1px solid #AFB1B8;
      box-sizing: border-box;
      border-radius: 4px;
      transition: border-color $time-hover cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__item {
      margin-right: 30px;
    }
    
    &__item:last-child {
      margin-right: 0px;
    }
    
    &__icon {
      fill: $social-primary;
      transition: fill var(--time-hover) cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link:hover,
    &__link:focus {
      border-color: $quaternary-color;
    } 
    
    &__link:hover &__icon,
    &__link:focus &__icon {
      fill: $quaternary-color;
    }
    
     &__link:hover &__icon,
     &__link:focus &__icon {
      border-color: $quaternary-color;  
    }
  }
  