.container {

    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; 

    @media screen and (min-width: 480px) {
        width: 480px;
        
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        
    }
    header & {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .section-hero & {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 30px;
    
    @media screen and (min-width: 768px) {
            padding: 118px 204px;
    }
    
    @media screen and (min-width: 1200px) {
            padding: 200px 252px;
    }
}

//   .section-hero & {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
    
//     // @media screen and (max-width: 1199px) {
//     //     max-height: 400px;   
//     // }

//     // @media screen and (min-width: 1200px) {
//     //     max-height: 600px;
        
//     // }
//   }

  .footer & {
      
    display: flex; 
    // align-items: baseline;
    // justify-content: space-between;
    flex-direction: column;
    justify-content: center;

    @media  screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;    
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        justify-content: space-between;
        
    }

  }
}

