$primary-color: #ffffff;
$secondary-color: #2f303a;
$tertiary-color: #f5f4fa;
$quaternary-color: #2196f3;

$text-primary: #212121;
$text-secondary: #757575;
$social-primary: #AFB1B8;
$light-icon-color: #ffffff;

$input-color: rgba(255, 255, 255, 0.6);
$footer-btn: #188ce8;

$time-hover: 250ms;


